################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LogitechAudioVisualizer
/bin/Debug
/obj/Debug
/packages
*.user

.vs/Logitech Spectrogram/v14/.suo

.vs/Logitech Spectrogram/v16/.suo

.vs/Logitech Spectrogram/v16/Server/sqlite3/db.lock

.vs/Logitech Spectrogram/v16/Server/sqlite3/storage.ide

obj/LogitechAudioVisualizer.csproj.nuget.cache

obj/LogitechAudioVisualizer.csproj.nuget.dgspec.json

obj/LogitechAudioVisualizer.csproj.nuget.g.props

obj/LogitechAudioVisualizer.csproj.nuget.g.targets

obj/project.assets.json
