################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LogitechAudioVisualizer
/bin/Debug
/obj/Debug
/packages
*.user
