<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogitechSpectrogram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KeyboardAudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <userSettings>
        <LogitechSpectrogram.Properties.Settings>
            <setting name="autoConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cycleDelay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="spectroScale" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="refreshDelay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FGRed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="FGGreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FGBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGRed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGGreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gradientColor" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>16711680</int>
                        <int>16718080</int>
                        <int>16724736</int>
                        <int>16731136</int>
                        <int>16737792</int>
                        <int>16744448</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="verticalProfiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>16711680</string>
                        <string>16711680</string>
                        <string>16749312</string>
                        <string>16749312</string>
                        <string>65280</string>
                        <string>65280</string>
                        <string>Peak Meter</string>
                        <string>255</string>
                        <string>13311</string>
                        <string>26367</string>
                        <string>39423</string>
                        <string>52479</string>
                        <string>65535</string>
                        <string>Ocean</string>
                        <string>65344</string>
                        <string>1703782</string>
                        <string>3407756</string>
                        <string>5046194</string>
                        <string>6750168</string>
                        <string>8454143</string>
                        <string>Aquamarine</string>
                        <string>16711680</string>
                        <string>16718080</string>
                        <string>16724736</string>
                        <string>16731136</string>
                        <string>16737792</string>
                        <string>16744448</string>
                        <string>Flame</string>
                        <string>16711807</string>
                        <string>16056473</string>
                        <string>15466675</string>
                        <string>14811340</string>
                        <string>14221542</string>
                        <string>13631743</string>
                        <string>Pink to Purple</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 1</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 2</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 3</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 4</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 5</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 6</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 7</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 8</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 9</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>0</string>
                        <string>Custom Profile 10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OS_highQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OS_keyboardColors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OS_verticalScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OS_FG" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OS_BG" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frequencyBoost" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="amplitudeScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amplitudeOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disableGLights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deviceLighting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimiseStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ARXApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cycleColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keyboardLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="updateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mediaKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vColorWaveEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vColorWaveDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="vColorWaveSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vColorWaveDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hColorWaveEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hColorWaveDelay" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="hColorWaveSpacing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hColorWaveDirection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hGradientColor" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>16719360</int>
                        <int>16711725</int>
                        <int>16711800</int>
                        <int>16711875</int>
                        <int>15728895</int>
                        <int>10813695</int>
                        <int>5898495</int>
                        <int>983295</int>
                        <int>15615</int>
                        <int>34815</int>
                        <int>54015</int>
                        <int>65505</int>
                        <int>65430</int>
                        <int>65355</int>
                        <int>65280</int>
                        <int>4980480</int>
                        <int>9895680</int>
                        <int>14810880</int>
                        <int>16765440</int>
                        <int>16746240</int>
                        <int>16727040</int>
                        <int>16711695</int>
                        <int>16711770</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </LogitechSpectrogram.Properties.Settings>
    </userSettings>
</configuration>